.table>thead>tr>th, .table>tbody>tr>td {
    line-height: 3;
    font-size: 14px;
}


.action {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    line-height: 3;
    padding-top: 12px;
}
.action > span{
    cursor: pointer;
}


.member-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.btn-primary{
    height: 35px;
}